<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC9SqBujLlpDvoEg8e9bRwtGpfV-NBdqrI</string>
	<key>BUNDLE_ID</key>
	<string>com.streetvendr.app</string>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Vendr</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>vendr</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.980752797154-4t9o6akj3tbie4gukedok9m4lhoq64pq</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>CLIENT_ID</key>
	<string>980752797154-4t9o6akj3tbie4gukedok9m4lhoq64pq.apps.googleusercontent.com</string>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<true/>
	<key>GCM_SENDER_ID</key>
	<string>980752797154</string>
	<key>GIDClientID</key>
	<string>980752797154-4t9o6akj3tbie4gukedok9m4lhoq64pq.apps.googleusercontent.com</string>
	<key>GMSApiKey</key>
	<string>AIzaSyDCnnrXknaOvWIF-eHHAIia-ThQzWfWTrU</string>
	<key>GOOGLE_APP_ID</key>
	<string>1:980752797154:ios:dab3f801d869cbfa4f3dbb</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSCameraUsageDescription</key>
	<string>We need access to your camera to take photos or videos.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Your live location is required for background tracking.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Background location needed.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Your location is used to track nearby vendors.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>We need access to your photo library to allow you to select images or upload photos.</string>
	<key>PROJECT_ID</key>
	<string>street-vendr</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.980752797154-4t9o6akj3tbie4gukedok9m4lhoq64pq</string>
	<key>STORAGE_BUCKET</key>
	<string>street-vendr.firebasestorage.app</string>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIStatusBarHidden</key>
	<false/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
